@model MyBlog.ViewModels.TagsViewModel;

@{
    ViewData["Title"] = "Тэги";
}

<div class="text-center mb-5">
    <h1 class="display-4 fst-italic py-2">Управление тегами</h1>
</div>
<h4 class="mb-3">Выберите тег для редактирования</h4>
<hr class="my-3">
<div class="row mb-3">
    @foreach (var tag in Model.Tags)
    {
        <div class="col-auto">
            <div class="flex-md-row mb-2 position-relative">
                <form asp-controller="Tag" asp-action="Edit" asp-route-id="@tag.Id" method="post">
                    <button type="submit" class="btn btn-outline-primary btn-sm">@tag.Name</button>
                </form>
            </div>
        </div>
    }
</div>
<hr class="my-3">
<form asp-controller="Tag" asp-action="Edit" asp-route-id="0" method="post">
    <button type="submit" class="btn btn-outline-primary btn-sm">Добавить</button>
</form>
