@model MyBlog.ViewModels.RoleViewModel;

@{
    ViewData["Title"] = "Редактирование роли";
}

<div class="row g-5">
    <div class="col-md-7 col-lg-8">
        @if (Model != null)
        {
            <h4 class="mb-3">Редактирование роли</h4>
        }
        else
        {
            <h4 class="mb-3">Создание роли</h4>
        }
        <form class="" asp-controller="Role" asp-action="Save" method="post">
            <div asp-validation-summary="ModelOnly"></div>
            <div>
                <input asp-for="Id" type="hidden" />
            </div>
            <div class="row mb-3">
                <div class="col-md-5">
                    <label for="name" class="form-label font-weight-bold">Название</label>

                        @if (Model != null)
                        {
                            <input asp-for="Name" type="text" class="form-control" id="name" value="@Model.Name" disabled>                            
                        }
                        else
                        {
                            <input asp-for="Name" type="text" class="form-control" required>
                        }
                        <span asp-validation-for="Name" class="text-danger"></span>
                    
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-5">
                    <label for="description" class="form-label font-weight-bold">Описание</label>
                    
                        <textarea rows="5" asp-for="Description" type="text" class="form-control" id="description" name="description"></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    
                </div>
            </div>
            <hr class="my-4 w-50">
            <div class="row mb-3">
                <div class="col-auto">
                    <button class="btn btn-sm btn-outline-primary" type="submit">Сохранить</button>
                </div>
            </div>
        </form>
        <div>
            <a href="/Role/Index/">Перейти к списку всех ролей</a>
        </div>
    </div>
</div>

@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
