@model MyBlog.ViewModels.UserViewModel;

@{
    ViewData["Title"] = "Настройки";
}

<div class="row g-5">
    <div class="col-md-7 col-lg-8">
        <h4 class="mb-3">Ваши настройки</h4>
        <form class="" asp-controller="User" asp-action="Save" method="post">
            <div asp-validation-summary="ModelOnly"></div>
            <div>
                <input asp-for="id" type="hidden" />
            </div>
            <div class="row mb-3">
                <div class="col-md-5">
                    <label for="firstName" class="form-label font-weight-bold">Имя</label>
                    <input asp-for="FirstName" type="text" class="form-control" id="firstName" placeholder="Ваше имя" value="@Model.FirstName" required>
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-5">
                    <label for="lastName" class="form-label font-weight-bold">Фамилия</label>
                    <input asp-for="LastName" type="text" class="form-control" id="lastName" placeholder="Ваша фамилия" value="@Model.LastName" required>
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-5">
                    <label for="email" class="form-label font-weight-bold">Эл. адрес<span class="text-muted font-weight-normal"> (для входа в систему)</span></label>
                    <input asp-for="Email" type="text" class="form-control" id="email" placeholder="exampl@yandex.ru" value="@Model.Email" required>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-5">
                    <label for="displayName" class="form-label font-weight-bold">Название вашего блога</label>
                    <input asp-for="DisplayName" type="text" class="form-control" id="displayName" placeholder="пример: Компьютерный ботаник" value="@Model.DisplayName" required>
                    <span asp-validation-for="DisplayName" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-5">
                    <label for="email" class="form-label font-weight-bold">О себе<span class="text-muted font-weight-normal"> (расскажите о себе или о своём блоге)</span></label>
                    <textarea asp-for="AboutMy" type="text" class="form-control" name="AboutMy" id="AboutMy"></textarea>
                </div>
            </div>
            <hr class="my-4 w-50">
            <div class="row mb-3">
                <div class="col-auto">
                    <button class="btn btn-sm btn-outline-primary" type="submit">Сохранить</button>
                </div>
            </div>
        </form>
        <div class="row">
            <div class="col-auto">
                <form asp-controller="User" asp-action="MyPage" method="get">
                    <button class="btn btn-sm btn-outline-secondary" type="submit">Отмена</button>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }