@{
    ViewData["Title"] = "Регистрация нового пользователя";
}

<h4 class="mb-3 py-3">Регистрация нового пользователя</h4>
<p class="font-weight-bold py-3">Пользователь с ником <span class="text-primary font-italic">@ViewData["checkEmail"]</span> уже зарегистрирован</p>
<div>
    <a href="/Account/Register/">Попробовать ещё раз</a>
</div>
<div>
    <a href="/Article/Index/">Вернуться на главную</a>
</div>
