@{
    ViewData["Title"] = "Ошибка входа";
}

<h4 class="mb-3 py-3">Вход в систему</h4>
<p class="font-weight-bold text-danger py-3">Неверная пара логин/пароль.</p>
<div>
    <a href="/Account/Register/">Зарегистрироваться</a>
</div>
<div>
    <a href="/Article/Index/">Вернуться на главную</a>
</div>
