@model MyBlog.ViewModels.RegisterViewModel;

@{
    ViewData["Title"] = "Регистрация нового пользователя";
}

<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.17.0/jquery.validate.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.10/jquery.validate.unobtrusive.min.js"></script>

<div class="row g-5">
    <div class="col-md-7 col-lg-8">
        <h4 class="mb-3">Регистрация нового пользователя</h4>
        <form class="" asp-controller="Account" asp-action="Register" method="post">
            <div class="row">
                <div class="col-md-5">
                    <label for="email" class="form-label">Эл. адрес<span class="text-muted"> (для входа в систему)</span></label>
                    <div class="input-group has-validation">
                        <input asp-for="Email" type="text" class="form-control" id="email" placeholder="exampl@yandex.ru" required="">
                        <span asp-validation-for="Email" class="text-danger"></span>
                        <!--<div class="invalid-feedback">
        Имя пользователя обязательно.
    </div>-->
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <label for="pass1" class="form-label">Пароль</label>
                    <input asp-for="Password" type="text" class="form-control" id="pass1" placeholder="*********" required="">
                    <span asp-validation-for="Password" class="text-danger"></span>
                    <!--<div class="invalid-feedback">
        Пожалуйста, введите пароль.
    </div>-->
                </div>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <label for="pass2" class="form-label">Пароль повторно</label>
                    <input asp-for="ConfirmPassword" type="text" class="form-control" id="pass2" placeholder="*********" required="">
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    <div class="invalid-feedback">
                        Пожалуйста, введите пароль повторно.
                    </div>
                </div>
            </div>

            <hr class="my-4">

            <button class="w-25 btn btn-primary btn-lg" type="submit">Регистрация</button>
        </form>
    </div>
</div>
